<?xml version="1.0"?>
<list>
    <games>

    <game name="GTA"> <name>Gta</name><ganre>action</ganre><developer>Rockstar</developer></game><game name="Witcher"> <name>Witcher</name><ganre>RPG</ganre><developer>CD project</developer><persons> <main_hero>Geralt</main_hero><secondary_hero>Ciry</secondary_hero></persons></game></games>
</list>
